In [1]:
#dataset1 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df1=pd.read_excel('C:/Users/Suraj Gupta/Downloads/HIV_0000000026,SDGHIV (1).xlsx')

In [3]:
df1.head()

,WHO region,Year,Number of new HIV infections,New HIV infections (per 1000 uninfected population) Both Sexes,New HIV infections (per 1000 uninfected population) Male,New HIV infections (per 1000 uninfected population) Female
0,Global,2019,1 700 000 [1 200 000–2 200 000],0.22 [0.16–0.3],0.23 [0.17–0.32],0.21 [0.16-0.29]
1,Global,2018,1 700 000 [1 200 000–2 300 000],0.23 [0.17–0.31],0.24 [0.17–0.33],0.22 [0.16-0.3]
2,Global,2017,1 800 000 [1 300 000–2 400 000],0.24 [0.18–0.32],0.24 [0.18–0.34],0.23 [0.17-0.32]
3,Global,2016,1 800 000 [1 300 000–2 400 000],0.25 [0.18–0.34],0.25 [0.18–0.35],0.24 [0.18-0.33]
4,Global,2015,1 900 000 [1 400 000–2 500 000],0.26 [0.19–0.35],0.26 [0.19–0.36],0.26 [0.19-0.35]

In [4]:
for i in df1.columns:
    if i!='Year':
        df1[i]=df1[i].str.replace(r'\[.*\]',"")

In [5]:
df1.head()

,WHO region,Year,Number of new HIV infections,New HIV infections (per 1000 uninfected population) Both Sexes,New HIV infections (per 1000 uninfected population) Male,New HIV infections (per 1000 uninfected population) Female
0,Global,2019,1 700 000,0.22,0.23,0.21
1,Global,2018,1 700 000,0.23,0.24,0.22
2,Global,2017,1 800 000,0.24,0.24,0.23
3,Global,2016,1 800 000,0.25,0.25,0.24
4,Global,2015,1 900 000,0.26,0.26,0.26

In [6]:
df1['Number of new HIV infections']=df1['Number of new HIV infections'].str.replace(" ","")

In [7]:
df1.head()

,WHO region,Year,Number of new HIV infections,New HIV infections (per 1000 uninfected population) Both Sexes,New HIV infections (per 1000 uninfected population) Male,New HIV infections (per 1000 uninfected population) Female
0,Global,2019,1700000,0.22,0.23,0.21
1,Global,2018,1700000,0.23,0.24,0.22
2,Global,2017,1800000,0.24,0.24,0.23
3,Global,2016,1800000,0.25,0.25,0.24
4,Global,2015,1900000,0.26,0.26,0.26

In [8]:
df1.dtypes

WHO region                                                        object
Year                                                               int64
Number of new HIV infections                                      object
New HIV infections (per 1000 uninfected population) Both Sexes    object
New HIV infections (per 1000 uninfected population) Male          object
New HIV infections (per 1000 uninfected population) Female        object
dtype: object

In [9]:
df1['New HIV infections (per 1000 uninfected population) Both Sexes']=df1['New HIV infections (per 1000 uninfected population) Both Sexes'].astype('float')
df1['New HIV infections (per 1000 uninfected population) Male']=df1['New HIV infections (per 1000 uninfected population) Male'].astype('float')
df1['New HIV infections (per 1000 uninfected population) Female']=df1['New HIV infections (per 1000 uninfected population) Female'].astype('float')
df1['Number of new HIV infections']=df1['Number of new HIV infections'].astype('int')

In [10]:
df1.dtypes

WHO region                                                         object
Year                                                                int64
Number of new HIV infections                                        int32
New HIV infections (per 1000 uninfected population) Both Sexes    float64
New HIV infections (per 1000 uninfected population) Male          float64
New HIV infections (per 1000 uninfected population) Female        float64
dtype: object

In [11]:
#dataset2

df2=pd.read_excel('C:/Users/Suraj Gupta/Downloads/HIV_0000000006.xlsx')

In [12]:
df2.head()

  WHO region  Year Number of deaths due to HIV/AIDS
0     Global  2019        690 000 [500 000–970 000]
1     Global  2018      730 000 [530 000–1 000 000]
2     Global  2017      760 000 [550 000–1 100 000]
3     Global  2016      800 000 [580 000–1 100 000]
4     Global  2015      830 000 [610 000–1 200 000]

In [13]:
df2['Number of deaths due to HIV/AIDS']=df2['Number of deaths due to HIV/AIDS'].str.replace(r'\[.*\]',"")

In [14]:
df2.head()

  WHO region  Year Number of deaths due to HIV/AIDS
0     Global  2019                         690 000
1     Global  2018                         730 000
2     Global  2017                         760 000
3     Global  2016                         800 000
4     Global  2015                         830 000

In [15]:
df2['Number of deaths due to HIV/AIDS']=df2['Number of deaths due to HIV/AIDS'].str.replace(" ","")

In [16]:
df2.head()

  WHO region  Year Number of deaths due to HIV/AIDS
0     Global  2019                           690000
1     Global  2018                           730000
2     Global  2017                           760000
3     Global  2016                           800000
4     Global  2015                           830000

In [17]:
df2.dtypes

WHO region                          object
Year                                 int64
Number of deaths due to HIV/AIDS    object
dtype: object

In [18]:
df2['Number of deaths due to HIV/AIDS']=df2['Number of deaths due to HIV/AIDS'].astype('int')

In [19]:
df2.head()

  WHO region  Year  Number of deaths due to HIV/AIDS
0     Global  2019                            690000
1     Global  2018                            730000
2     Global  2017                            760000
3     Global  2016                            800000
4     Global  2015                            830000

In [20]:
df2.dtypes

WHO region                          object
Year                                 int64
Number of deaths due to HIV/AIDS     int32
dtype: object

In [21]:
#dataset 3

df3=pd.read_excel('C:/Users/Suraj Gupta/Downloads/HIV_0000000001 (2).xlsx')

In [22]:
df3.head()

   REGION  YEAR PEOPLE HAVING HIV
0  Global  2019       38 000 000
1  Global  2018        37 300 000
2  Global  2017        36 500 000
3  Global  2016        35 700 000
4  Global  2015       34 900 000

In [23]:
df3['PEOPLE HAVING HIV']=df3['PEOPLE HAVING HIV'].str.replace(" ","")

In [24]:
df3.head()

   REGION  YEAR PEOPLE HAVING HIV
0  Global  2019          38000000
1  Global  2018          37300000
2  Global  2017          36500000
3  Global  2016          35700000
4  Global  2015          34900000

In [26]:
df3.dtypes

REGION               object
YEAR                  int64
PEOPLE HAVING HIV    object
dtype: object

In [27]:
df3['PEOPLE HAVING HIV']=df3['PEOPLE HAVING HIV'].astype(int)

In [28]:
df3.dtypes

REGION               object
YEAR                  int64
PEOPLE HAVING HIV     int32
dtype: object

In [29]:
#storing back the datasets

df1.to_csv('C:/Users/Suraj Gupta/Downloads/HIV sheet1.csv')
df2.to_csv('C:/Users/Suraj Gupta/Downloads/HIV sheet2.csv')
df3.to_csv('C:/Users/Suraj Gupta/Downloads/HIV sheet3.csv')